<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  GET / 200 13.421 ms - 259
  GET /css/style.css 404 3.539 ms - 1103 <br>
  GET / 304 1.784 ms - -
  GET /css/style.css 404 1.994 ms - 1103 <br>
  GET / 200 1.083 ms - 267
  GET /stylesheets/style.css 200 3.256 ms - 111 <br>
  GET / 200 2.377 ms - 267
  GET /stylesheets/style.css 200 4.009 ms - 140 <br>
  GET / 304 1.073 ms - -
  GET /stylesheets/style.css 200 3.847 ms - 154 <br>
</body>
</html>